*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif !important;
}
body{
      
      background-color: #F3F3F3 !important;
}
span a{
    font-family: "Space Grotesk", sans-serif !important;
}
.header{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.links{
    display: flex;
    gap:20px ;
    align-items: center;
}
.header a{
    text-decoration: none;
    color:#191A23;

}
.header button{
    width: 150px;
    border: 1px solid#191A23;
    border-radius: 5px;
    height: 40px;
    background-color: #F3F3F3;
}
 a:hover {
    text-decoration: underline;
    color: #B9FF66;
}
 button:hover{
    border: 1px solid #B9FF66;
    color: #B9FF66;
}


.header-medium{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right:-400px;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background-color: #F3F3F3;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #B9FF66;
  box-shadow: 2px 2px 10px #191A23;
  z-index:100;

}
.sidebar-logo{
  display: flex;
  align-items: center;
}
/* .logo{
  display :flex;
    gap:20px;
  color:;
  align-items:center;
    
} */

.sidebar ul {
  list-style: none;
  padding: 40px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.sidebar li {
  margin-bottom: 10px;
  
}

.sidebar a {
  color: #191A23;
  text-decoration: none;
  
}

.close-sidebar {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #191A23;
  
}
.hamburger-icon{
  border: none;
}

.sidebar-open {
  right: 0;
}
.sidebar ul li button{
  width: 150px;
  border-radius: 5px;
  border: 1px solid #191A23;
  height: 40px;
}
.sidebar ul li button:hover{
  border: 1px solid #B9FF66;
  color: #B9FF66;
  background-color: #191A23;
}
.sidebar ul li a:hover{
  text-decoration: underline;
  color: #B9FF66;
}

 .header-lg{
        display: block;
    }
    .header-md{
        display: none;
    }

@media screen and (max-width:768px) {
    .header-lg{
        display: none;
    }
    .header-md{
        display: block;
    }
}
@media screen and (max-width:210px){
  .sidebar{
    text-align: end;
  }
  .sidebar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
}
@media screen and (max-width:156px) {
    .header-medium{
    display: flex !important;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
}

/* section 2 */
.digital-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  
  /* background-color: #B0F261; */
  /* border: 2px solid black; */
}
.digital-grid .digital-grid1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.digital-grid1 button{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #191A23;
  color: #F3F3F3;
  border: none;
}
.digital-grid1 , .digital-grid2{
  /* border: 1px solid red; */
  padding: 10px;
}

/* for main medium screen */
.main-medium{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}
.book button{
  width: 100%;
  height: 50px;
  border: none;
  background-color: #191A23;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}
.book button:hover{
  border: 1px solid #B9FF66;
  color: #B9FF66;
}

.main-lg{
  display: block;
}
.main-md{
  display: none;
}
.bold-text , .small-text{
  text-align: start;
}
.main-img{
  text-align: start;
}
.first-br{
  display: block;
}
.main-mlg{
  display: none;
}

@media screen  and (min-width:1200px){
  .digital-grid .digital-grid1{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
}
@media screen  and (max-width:769px){
  .digital-grid{
  display: grid !important;
  grid-template-columns: 50% 50%;
  padding: 20px;
  
  /* background-color: #B0F261; */
  /* border: 2px solid black; */
}
.first-br{
  display: none;
}
.main-lg{
  display: none;
}
.main-mlg{
  display: block;
}

}



@media screen  and (max-width:642px){
  .main-lg{
  display: none;
}
.main-md{
  display: block;
}
.main-img{
  text-align: center;
}
.first-br{
  display: none;
}
.main-mlg{
  display: none;
}

}
@media screen  and (max-width:372px){
.first-br{
  display: none;
}
}

/* marque section */
.motion{
  /* max-width: fit-content; */
  overflow-x: hidden;
  padding: 20px 0;
  
}
.marque{
  /* min-width: 250px; */
  transition: all 1s ease-in ;
  animation: marque 10s ease-in-out 5;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.marque img{
  width: 100px;
  height: 50px;
}
@keyframes marque {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(100%);
  }
}
@media screen and (max-width:567px){
  .marque{

  animation: marque 10s ease-in-out infinite;
 
}
}
@media screen and (max-width:327px) {
  .marque{
    gap:10px;
  }
  .marque img{
  width: 50px;
  height: 50px;
}
}

/* for the third section */
/* .service-cover{
  padding: 10px 0;
} */
.service-flex{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}
.services{
  background-color: #B9FF66 !important;
  padding:0 5px;
  border-radius: 5px;
}
.service-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding-right: 20px;
  
}
.service-grid1 ,
 .service-grid2 ,
  .service-grid3 ,
  .service-grid4 ,
  .service-grid5 ,
  .service-grid6{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    border-bottom: 4px solid #191A23 !important;
    border: 1px solid #191A23;
    padding: 20px;
  }
.service-item1{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding-left: 40px;
  /* border: 1px solid black; */
}
.search-engine{
  /* background-color: #B0F261; */
  padding: 0 1px;

}
.search-engine p{
  margin: 0;
  border-radius: 5px !important;
  background-color: #B9FF66;
}
.search-engine .search{
  width: 195px;
}
.search-engine .opt{
  width: 170px;
}
.learn-more{
  display: flex;
  align-items: center;
  gap: 10px;
}
.learn-more img{
  width: 30px;
  height: 30px;
}
.learn-more a {
  text-decoration: none;
  color: #191A23;
}

.service-grid2{
  background-color: #191A23;
}
.pay-per-click p{
   margin: 0;
  border-radius: 5px !important;
  background-color: #F3F3F3;
}
.pay-per-click .pay{
  width: 190px;
}
.pay-per-click .ads{
  width: 160px;
}
.service-grid3{
  background-color: #191A23;
}
.social-media p{
   margin: 0;
  border-radius: 5px !important;
  background-color: #F3F3F3;
}
.social-media .social{
  width: 180px;
}
.social-media .marketing{
  width: 150px;
}
.service-grid3 a{
  color: #F3F3F3;
}
.email-marketing p{
   margin: 0;
  border-radius: 5px !important;
  background-color: #B9FF66;
}
.email-marketing .email{
  width: 80px;
}
.email-marketing .marketing{
  width: 150px;
}
.service-grid5{
  background-color: #B9FF66;
}
.content-creation p{
  margin: 0;
  border-radius: 5px !important;
  background-color:#F3F3F3;
}
.content-creation .content{
  width: 120px;
}
.content-creation .creation{
  width: 120px;
}
.analytics p{
    margin: 0;
  border-radius: 5px !important;
  background-color:#B9FF66;
}
.service-grid6{
  background-color: #191A23;
}
.analytics .analysis{
  width: 195px;
}
.analytics .track{
  width: 130px;
}
.service-grid6 a{
  color: #F3F3F3;
}
.service-lg{
  display: block;
}
.service-md{
  display: none;
}
.service-br{
  display: block;
}

@media screen and (max-width:992px){
  .service-item1{
 
  padding-left: 20px;
  /* border: 1px solid black; */
}
.pay-per-click .pay{
  width: 180px;
}
.search-engine .search{
  width: 190px;
}
.analytics .analysis{
  width: 175px;
}
.email-marketing .marketing{
  width: 140px;
}
.social-media .social{
  width: 170px;
}
.social-media .marketing{
  width: 140px;
}
}



@media screen and (max-width:769px) {
  .service-flex{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.service-br{
  display: none;
}
.search-engine .opt{
  width: 150px;
}
.search-engine .search{
  width: 180px;
}
.pay-per-click .pay{
  width: 160px;
}
.pay-per-click .ads{
  width: 140px;
}
.social-media .social{
  width: 160px;
}
.social-media .marketing{
  width: 130px;
}
.email-marketing .marketing{
  width: 130px;
}
.analytics .analysis{
  width: 170px;
}
.analytics .track{
  width: 110px;
}
  .service-lg{
  display: none;
}
.service-md{
  display: block;
}
.service-grid{
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  padding:20px;
  
}
}
@media screen and (max-width:359px){
  .search-engine .search{
  width: 7em;
}
.search-engine .opt{
  width: 6em;
}
.service-grid p , a{
  font-size:0.8em;
}
.pay-per-click .pay{
  width: 6.5em;
}
.pay-per-click .ads{
  width: 6em;
}
.social-media .social{
  width: 6em;
}
.social-media .marketing{
  width: 6em;
}
.email-marketing .marketing{
  width: 5em;
}
.email-marketing .email{
  width: 4em;
}
.content-creation .content{
  width: 4.5em;
}
.content-creation .creation{
  width: 4.5em;
}
.analytics .analysis{
  width: 7em;
}
.analytics .track{
  width: 4.5em;
}
.service-item1{
   display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-left: 10px;
  /* padding: 2px 0; */

}}
 

@media screen and (max-width:294px){
  .service-grid p , a{
  font-size:0.5em;
}
.service-item1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding-left: 10px;
  
  /* padding: 2px 0; */
  /* border: 1px solid black; */
}
.service-grid1 ,
 .service-grid2 ,
  .service-grid3 ,
  .service-grid4 ,
  .service-grid5 ,
  .service-grid6{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    border-bottom: 4px solid #191A23 !important;
    border: 1px solid #191A23;
    padding: 10px;
  }
} 

/* for the fourth section */

.contact-us-lg{
  display: block;
}
.contact{
  padding: 40px;
}
.contact-us-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(197, 197, 197);
}
.contact-grid1{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}
.contact-grid1 button {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #191A23;
  color: #F3F3F3;
}
.contact-grid2{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin: -35px 0;
}

/* for medium screens */
.contact-us-md{
  display: none;
  padding: 0 20px;
}

.contact-flex{
    display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  background-color: rgb(197, 197, 197);
  border-radius: 20px;
}
.contact-flex button{
   width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color:#191A23;
  color: #F3F3F3;
}
.contact-br{
  display: block;
}


@media screen and (max-width:767px) {
  .contact-us-lg{
    display: none;
  }
  .contact-us-md{
    display: block;
  }
  .contact-br{
  display: none;
}
}

/* for the fifth section */

.case-lg{
  display: block ;
}
.case-studies{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
}
.case-text{
  background-color: #B9FF66;
  padding: 5px;
  border-radius: 5px;
}
.case-study-grid{
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  gap: 10px;
  padding: 20px ;
  background-color: #191A23;
  border-radius: 20px;
  color: #F3F3F3;
}
.case-grid1 , .case-grid2{
  border-right: 1px solid #F3F3F3;
}

.case-grid1 , .case-grid2 , .case-grid3 {
  padding: 40px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.read-more{
  display: flex;
  align-items: center;
  gap: 5px;
}
.read-more a {
  text-decoration: none;
  color: #B9FF66;
}
.read-more img{
  width: 25px;
  height: 25px;
}

/* for medium screen */
.case-md{
  display: none;
}

.case-grid-md{
    display: grid;
  grid-auto-columns: 100vw;
  grid-auto-flow: column;
  gap: 10px;
  padding: 20px ;
  overflow-x: auto;
  color: #F3F3F3;
}


.case-grid-md .case-gridmd1 , .case-gridmd2 , .case-gridmd3{
  background-color: #191A23;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.case-br{
  display: block;
}
@media screen and (max-width:767px){
  .case-lg{
    display: none;
  }
  .case-md{
    display: block;
  }
  .case-studies{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  text-align: center;
}
.case-br{
  display: none;
}

}